<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/styles.css">
    <!-- Import Favicon -->
    <title>Join The Gillypad!</title>
</head>
<body>
    <h1>JOIN THE GILLYPAD</h1>
    <div>
        <form action="">
            <label for="fname">First Name:</label>
            <input type="text" name="firstName">
            <br>
            <label for="lname">Last Name:</label>
            <input type="text" name="lastName">
            <br>
            <label for="username">Username:</label>
            <input type="text" name="username">
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email">
            <br>
            <label for="cnf-email">Confirm Email:</label>
            <input type="email">
            <br>            
            <label for="psw">Password:</label>
            <input type="password" name="password">
            <br>
            <label for="cnf-psw">Confirm Password:</label>
            <input type="password">
            <br><br>
            <!-- Option to Opt-in to SMS Text Messages -->
            <div id="optInSmsForm" class="smsForm">
                <label>
                    <input type="checkbox" id="sms-opt-in-cb"> Would you like to receive SMS text messages?
                </label>
                <br><br>
                <div id="smsForm" class="smsForm">
                    <label for="">Phone Number:</label>
                    <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Enter Phone Number">
                    <br>
                    <label for="">Confirm Phone Number:</label>
                    <input type="tel" id="confirmPhoneNumber" name="confirmPhoneNumber" placeholder="Confirm Phone Number">
                    <br><br>
                    <label>
                        <input type="checkbox" id="dataUsageCheckbox" name="confirmedSmsUsage"> I agree to receive text messages and data usage rates may apply.
                    </label>
                </div>
            </div>
        </form>
    </div>
</body>
</html>