<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/styles.css">
    <!-- Import a Favicon -->
    <title>Gilly's Hub</title>
</head>
<body>
    <h1>THE HUB</h1>
    <div id="nav-select">
        <nav>
            <select name="menu" id="menu-dropdown">
                <option value="" disabled selected>Menu</option>
                <option value="nav-sign-up-option">Sign-up</option> <!-- LINK THE SIGN-UP PAGE -->
                <option value="nav-recent-posts-option">Recent Posts</option>
                <option value="nav-merch-option">Merch</option>
                <option value="nav-donate-option">Donate</option>
                <option value="nav-contact-option">Contact</option>
            </select>
        </nav>
    </div>
    <br>
</body>
</html>