<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/public/images/gilly-favicon.ico">
    <title>Gilly's Hub</title>
</head>
<body>
    <h1>THE HUB</h1>
    <img id="mainLogo" src="<%= '/images/gillysuit-logo.png' %>" alt="Gillysuit's logo">
    <div id="nav-select">
        <nav id="home-nav" class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/signup">Sign-up</a></li>
                <li><a href="/socials">Socials</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <br>

    <main>
        <h2>Site Coming Soon...</h2>
        <h3>Feel free to click the <a id="h3MainSignup" href="/signup">Sign-up</a> button to get notified.</h3>
    </main>
</body>
</html>